/// HOME
.app-content {
  display: flex;
  // flex: 1;
  width: 100%;
  height: 90%;

  .dashboard {
    padding: 3% 4%;
    row-gap: 2em;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;

    .hello {
      h1 > span {
        color: var(--main-color);
      }

      p {
        font-weight: 400;
      }
    }

    .graphs {
      display: flex;
      column-gap: 1em;
      height: 80%;

      .primary-zone {
        display: flex;
        flex-direction: column;
        row-gap: 1em;
        width: 76%;

        .primary-zone-bottom {
          display: flex;
          column-gap: 1em;
          height: 40%;

          .child {
            background-color: var(--grey-light);
            border-radius: 5px;
            width: 32%;
          }

          .average-sessions {
            background-color: var(--main-color);
          }
        }
      }

      .secondary-zone {
        display: flex;
        flex-direction: column;
        row-gap: 1em;
        width: 24%;
      }
    }
  }

  .redirection {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 24px;

    button {
      padding: 12px;
      color: var(--white);
      font-size: 16px;
      font-weight: 600;
      height: 48px;
      background-color: var(--dark);
    }

    .grey {
      background-color: var(--grey-dark);
    }

    .red {
      background-color: var(--main-color);
    }
  }

  .error {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 12px;
  }
}
